body {
    margin: 0;
    box-sizing: content-box;
    background-color: #22252C;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 60vw;
    max-width: 530px;
    height: max-content;
    margin: 15px auto;
    background-color: #1A1B20;
    border-radius: 30px;
}

#photo{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#name {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 35px;
    color: whitesmoke;
    font-weight: bold;
}

#job {
    font-size: 23px;
    color: goldenrod;
}


.buttons {
    margin-top: 35px;
}

#email-btn, #git-btn {
    padding: 15px 0;
    padding-right: 45px;
    padding-left: 80px;
    border-radius: 15px;
    font-size: 23px;
    border: none;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 30px;
}

#email-btn{
    margin-right: 30px;
    background-color: white;
    color: black;
    background-image: url(./email-icon.png);
}

#git-btn{
    background-image: url(./github-icon.png);
    background-color: black;
    color: white;
}

.about, .interests {
    margin: 70px 45px;
    font-size: 20px;
    color: whitesmoke;
    line-height: 30px;
}

h1 {
    margin-bottom: -5px;
}

.logos {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.logos img {
    width: 55px;
    opacity: 60%;
}

